* {
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#tituloP{
  margin: 1em auto;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(250%2c 238%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M140 121.33C119.32 121.33 98.52 129.55 98.52 140C98.52 151.06 119.36 164.35 140 164.35C160.1 164.35 180 151.07 180 140C180 129.56 160.06 121.33 140 121.33' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M274.81 0C281.29 0.59 273.56 11.31 280 12.73C346.16 27.37 356.35 37.11 420 32.13C437.74 30.74 425.18 4.04 442.79 0C495.18 -12.02 501.39 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C891.93 0 895.19 -9.61 943.87 0C965.19 4.21 961.6 27.65 980 27.65C999.67 27.65 997.1 4.52 1020 0C1067.1 -9.3 1070 0 1120 0C1190 0 1190 0 1260 0C1311.93 0 1325.27 -21.06 1363.87 0C1395.27 17.12 1369.57 50.28 1400 76.36C1451.27 120.28 1465.7 105.53 1527.27 140C1535.7 144.72 1539.14 145.32 1540 154.74C1545.51 215.32 1540 217.37 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1206.97 560 1204.7 567.81 1153.94 560C1134.7 557.04 1138.51 538.46 1120 538.46C1084.21 538.46 1083.36 554.15 1045.33 560C1013.36 564.92 1012.66 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C660.73 560 640.77 584.78 621.46 560C586.23 514.78 604.3 490.36 590.93 420C577.69 350.36 582.64 348.2 568.24 280C567.17 274.95 565.1 274.53 560 273.49C490.98 259.37 484.78 247.13 420 249.67C401.78 250.38 401.62 261.82 394 280C365.91 346.98 340.15 362.97 348.57 420C353.15 451.01 388.47 432.02 420 456.08C480.19 502.02 532 530.02 532 560C532 581.98 476 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 38.56 591.44 0 560C-31.44 534.37 -31.26 475.81 0 445.85C38.74 408.73 70.4 437.4 140 425.83C148.18 424.47 155.56 423.79 155.56 420C155.56 415.75 148.85 412.49 140 409.76C71.07 388.49 42.83 411.69 0 372C-27.17 346.81 0 326 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C207.4 0 211.29 -5.78 274.81 0' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 99.08C814.14 99.08 782.17 117.54 782.17 140C782.17 165.15 815.03 194.29 840 194.29C859.78 194.29 871.67 166.11 871.67 140C871.67 118.5 858.89 99.08 840 99.08' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 109.77C1234.36 109.77 1210.74 119.31 1210.74 140C1210.74 172.42 1232.39 216 1260 216C1291.13 216 1328.21 170.69 1328.21 140C1328.21 117.58 1293.1 109.77 1260 109.77' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1540 100C1533.88 100 1515.86 40.5 1515.86 0C1515.86 -9.5 1537.65 -9.72 1540 0C1549.72 40.28 1545.95 100 1540 100' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 272.43C1108.6 272.43 1096.67 276.56 1096.67 280C1096.67 283.39 1108.51 286.09 1120 286.09C1127.96 286.09 1135.56 283.36 1135.56 280C1135.56 276.53 1128.04 272.43 1120 272.43' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 411.25C837.67 411.25 835.94 415.55 835.94 420C835.94 425.31 837.65 430.77 840 430.77C842.48 430.77 845.6 425.26 845.6 420C845.6 415.5 842.5 411.25 840 411.25' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 63C75.31 99.97 39.02 137.56 0 120C-30.98 106.06 -32.31 27.69 0 0C37.69 -32.31 70 0 140 0C175 0 210 -13.43 210 0C210 18.07 180.31 39.97 140 63' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M305.93 140C361.6 112.4 372.77 126.75 420 89.51C461.55 56.75 442.25 26.37 483.49 0C512.25 -18.38 521.74 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C863.71 0 887.42 -9.49 887.42 0C887.42 13.12 865.88 25.25 840 45.23C775.21 95.25 706.09 87.99 706.09 140C706.09 198.23 769.96 207.66 840 265.71C854.42 277.66 875 271.35 875 280C875 289.44 850.81 285.03 840 301.88C805.92 355.03 816.79 363.23 785.22 420C746.79 489.11 739.44 553.64 700 553.64C662.65 553.64 638.95 489.48 631.63 420C624.54 352.66 689.32 337.72 671.18 280C653.51 223.77 623.18 214.39 560 192.09C497.59 170.06 478.88 167.37 420 191.33C370.88 211.32 374.63 230.89 344 280C304.63 343.11 328.25 405.26 280 415.76C226.25 427.46 213.71 362.68 140 324.39C83.04 294.8 18.67 301.12 18.67 280C18.67 259.14 82.42 267.11 140 240.43C213.09 206.57 210.76 200.83 280 158.92C293.72 150.62 291.6 147.1 305.93 140' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M913.33 140C913.33 102.3 943.18 101.33 980 70.86C1027.77 31.33 1028.69 27.23 1082.5 0C1098.69 -8.2 1101.25 0 1120 0C1190 0 1190 0 1260 0C1293.12 0 1326.24 -14.26 1326.24 0C1326.24 20.74 1297.74 40.7 1260 70C1207.59 110.7 1198.06 99.84 1145.93 140C1128.06 153.76 1139.05 166.15 1120 177.84C1056.08 217.06 1037.71 252.39 980 241.82C934.37 233.47 913.33 187.78 913.33 140' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M915.6 420C915.6 378.22 936.31 347.62 980 335.26C1038.51 318.7 1049.69 360.23 1120 362.17C1189.69 364.1 1192.07 360.67 1260 343C1332.07 324.25 1329.94 289.53 1400 289.33C1469.94 289.14 1493.94 299.23 1540 342.22C1563.94 364.56 1540 381.11 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1260 560 1260 560 1260 560C1190 515.58 1195.26 487.67 1120 471.15C1055.26 456.94 1039.7 513.48 980 498.54C937.5 487.9 915.6 459.86 915.6 420' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 499.69C49.16 469.65 71.66 493.16 140 474.44C211.66 454.81 211.61 418.65 280 422.98C351.61 427.51 354.98 450.35 420 492.16C461.53 518.86 493.11 540.43 493.11 560C493.11 574.35 456.56 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 48.92 581.08 0 560C-21.08 550.92 -20.84 512.43 0 499.69' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 4.67C70.77 22.15 55.76 38.53 0 36.67C-14.24 36.2 -14.53 3.81 0 0C55.47 -14.53 70 0 140 0C142.6 0 145.19 -1 145.19 0C145.19 1.34 143.37 3.82 140 4.67' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 99.35C527.09 99.35 524.19 37.1 524.19 0C524.19 -12.58 542.1 0 560 0C626.95 0 693.91 -22.13 693.91 0C693.91 27.55 611.95 99.35 560 99.35' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M955 140C955 125.86 964.54 114.07 980 114.07C1012.04 114.07 1050 124.5 1050 140C1050 156.56 1010.21 178.18 980 178.18C962.71 178.18 955 157.92 955 140' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 30.23C1217.96 30.23 1168.28 7.75 1168.28 0C1168.28 -7.36 1214.14 0 1260 0C1274.3 0 1288.6 -6.16 1288.6 0C1288.6 8.96 1278.12 30.23 1260 30.23' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M228.42 280C228.42 266.14 258.38 253.51 280 253.51C291.17 253.51 294 266.6 294 280C294 294.69 291.66 309.7 280 309.7C258.87 309.7 228.42 294.23 228.42 280' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M672.33 420C672.33 386.6 684.75 352 700 352C715.83 352 734.49 386.85 734.49 420C734.49 447.89 715.96 474.09 700 474.09C684.88 474.09 672.33 447.64 672.33 420' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 553.54C66.98 535.87 69.77 537.13 140 523.06C209.77 509.08 210.25 496.16 280 497.45C350.25 498.75 354.29 504.66 420 528.25C441.4 535.93 454.22 550.84 454.22 560C454.22 566.71 437.11 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 66.91 563.09 0 560C-3.09 559.86 -3.02 554.34 0 553.54' stroke='rgba(36%2c 161%2c 156%2c 0.22)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");   
  padding: 160px 20px 0;
}

.header {
  background-color: #FAEEE7;
  height: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

section[id]{
  scroll-margin-top: 200px;
}

/*Menu*/

.nav {
  display: flex;
  justify-content: space-around;

  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-menu-item{
  padding: 0 15px;
}

.logo {
  font-family: 'Ms Madi', cursive;
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.menu {
  font-family: 'Red Hat Mono', monospace;
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  padding: 0 15px;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
  width: max-content;
  position: relative;
}


.menu a::after {
  content: "";
  background-color: none;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;

  opacity: 0;
  transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.3;
}

.menu a:hover {
  background-color: #24A19C;
  box-shadow: 0 8px 16px 0 rgba(94, 94, 94, 0.24), 0 17px 50px 0 rgba(94, 94, 94, 0.19);
  color:white;
}

.open-menu,
.close-menu {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
}

/* MOBILE */
@media (max-width: 768px) {
  

  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #24A19C;
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover{
    background: none;
    color: white;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  .open-menu{
    color:#24A19C ;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-menu{
    color:white ;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu {
    align-self: flex-end;
    padding: 20px 15px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }

  .nav-menu-link::after {
    content: none;
  }

  .nav-menu-link:hover,
  .nav-menu-link.selected {
    color: white;
  }
}
 
.profile-info {
  margin-bottom: 25px;
}


.profile-img-line {
  background-color: var(--secundary-color);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.seccion1 {
  text-align: left;
  font-size: 25px;
}

.Saludo{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  margin: 20px;
  font-size: 40px;
 }

 .profile-img-section{
  z-index: -1;
 }

 .imgP {
  width: 80%;
  max-width: 250px;
  border-radius:50px;
  display: block;
  margin: auto;
}

.textoP{
  font-size: 25px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
}

@media (min-width: 950px) {
  .profile-info {
    margin-bottom: 0px;
  }
  
  .imgP {
    width: 100%;
    max-width: 270px;
    transform: scaleX(-1);
    z-index: -1;
  }
  
  .seccion1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }
  .Saludo{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  margin: 30px;
 }

  .textoP{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    margin: 30px;
  }

}



.textoE{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
  margin: 30px 0;
  width: 100%;
}

/* Scroll personalizado*/
body::-webkit-scrollbar{
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
  background: #24A19C;
  border-radius: 10px;
}


.Textins {
  margin-bottom: 25px;
}

.imgInspiración{
  z-index: -1;
 }

.img-line {
  background-color: var(--secundary-color);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
/* Seccion 2*/

.seccion2 {
  text-align: center;
}

.imgI {
  width: 80%;
  max-width: 150px;
  border-radius:150px;
  display: block;
  margin: auto;
}

.TextIns{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
  margin: 30px 0;
  width: 100%;
}

@media (min-width: 950px) {
  .Textins {
    margin-bottom: 0px;
  }
  
  .imgI {
    width: 100%;
    max-width: 200px;
    transform: scaleX(-1);
    z-index: -1;
  }
  
  .seccion2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
  }
  
  .textIns{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    margin: 30px 0;
    width: 100%;
  }

}

hr{
  text-align: center;
  margin: 1em;
  background-color: #24A19C;
  height: 5px;
  border-radius: 50%;
}
.Estudios{
  padding: 60px;
}
.tituloEst{
  font-family: 'Kalam', cursive;
  font-size: 30px;
  color: #24A19C;
}

.descripciónEst{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
}

.btn {
  font-family: 'Red Hat Mono', monospace;
  background-color: #FAEEE7;
  color: black;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
  background-color: #208f8b;
  color: white;
  filter: brightness(130%);
}

.Btn-certificado{
  z-index: -1;
}

.TituloEstudios{
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Patrick Hand', cursive;
  font-size: 45px;
  text-align: center;
  color: #24A19C;
}

.TituSeccion2{
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Patrick Hand', cursive;
  font-size: 45px;
  text-align: center;
  color: #24A19C;
}
.TituHab{
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Patrick Hand', cursive;
  font-size: 45px;
  text-align: center;
  color: #24A19C;
}

.TablaHab{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tablita { 
  text-align: center;
  border-collapse: collapse; 
  margin: 25px 0; 
  font-size: 23px; 
  min-width: 550px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

.tablita thead tr { 
  background-color: #980081; 
  color: #ffffff; 
  text-align: middle; 
}

.tablita th{ 
  font-family: 'Patrick Hand', cursive;
  padding: 20px 20px; 
}
.tablita td{
  font-family: 'Barlow Condensed', sans-serif;
}

.tablita tbody tr { 
  border-bottom: 1px solid #dddddd; 
} 

.tablita tbody tr:nth-of-type(even) { 
  background-color: #f3f3f3; 
} 

.tablita tbody tr:last-of-type { 
  border-bottom: 2px solid #009879; 
}


/* Seccion Contacto*/

.SContac{
  
  background-color: #24A19C;
  color: black;
  font-size: 18px;
  border-radius: 14px;
  padding: 25px;

  display: grid;
  gap: 25px;
}

.SContac p,
.SContac h1,
.SContac ul{
  margin: 0;
  padding: 0;
}

.TituContac{
  font-family: 'Patrick Hand', cursive;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
label{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
}
.Contact-details,
.Contac-form{
  display: grid;
  gap: 20px;
}

.Contac-group,
.ContactForm-group{
  display: grid;
  gap: 3px;
}

.textoC{
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
}

.Contac-form input,
.Contac-form textarea{
  border-radius: 7px;
  border: none;
  height: 30px;
  padding: 5px 10px;
}

.TextDesc{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Barlow Condensed', sans-serif;
}

.Contac-form textarea{
  height: auto;
  resize: vertical;
}

.btnContac{
  font-family: 'Red Hat Mono', monospace;
  background-color: #faeee79f;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 20px;
  width: 100%;
  height: 50px;

  cursor: pointer;
}

.btnContac:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
  background-color: #208f8b;
  color: white;
  filter: brightness(130%);
}

.SocialMedia{
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.fa-github,
.fa-linkedin,
.fa-whatsapp,
.fa-instagram{
  color: white;
}

/* Modo Escritorio Seccion 4*/
@media (min-width: 950px){
  .SContac{
    font-size: 20px;
    padding: 70px;

    max-width: 980px;
    margin: 0 auto;

    box-sizing: border-box;
  }
  
  
  .TituContac{
    font-size: 35px;
    text-align: left;
  }
  
  .SocialMedia{
    justify-content: flex-start;
  }
  
  .TituContac{
    grid-area: title;
  }
  .Contact-details{
    grid-area: details;
  }
  .Contac-form{
    grid-area: form;
  }

  .social{
    grid-area: social;
  }
  
  .SContac{
    display: grid;
    grid: 
      "title form" auto
      "details form" 1fr
      "social form" auto /
      1fr 1fr;
    align-items: strat;

    
  }

}



